## exam, lab, hw
#/exam/final 
#/exam/midterm
#/homework/hw[1-9]
#/labs/lab[1-9]
#/labs/lab3a
#/labs/lab3b
#/labs/lab1[0-9]

## self define
**/*solution*
**/solution
#**/present
**/student
**/students
**/local
#**/tex
#**/latex
#**/other
#**/others
**/file
**/files
**/inclass_test

## jupyter notebook, python, R
**/.ipynb_checkpoints
**/__pycache__
__init__.py
*.pyc
*.Rhistory
*.RData

## vscode
**/.vscode

## other
*.test
*.class

## mac
~$*
.DS_Store*
